* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Silk-Serif";
  src: url("silk-serif/Silk_Serif_Regular_Italic.otf") format("OpenType");
}
@font-face {
  font-family: "Ayer Poster";
  src: url("AyerPoster-Regular/AyerPoster-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
html,
body {
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  height: auto;
}

/*통일*/
#wrap {
  overflow-x: hidden;
  width: 100%;
}
#visual {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
#visual .inner {
  width: 90%;
  height: 100%;
  margin: 0px auto;
}
h2 {
  font-size: 3.8vw;
}
span {
  font-family: "Silk-Serif";
}
h2 > span {
  font-size: 3.8vw;
}
.con {
  width: 100%;
}
.con .inner {
  width: 90%;
  margin: 0px auto;
  padding: 10vh 0 7vh;
}

/**************************************************/
@media all {
  /*cursor custom*/
  body {
    cursor: none;
  }
  .cursor {
    mix-blend-mode: difference;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 999;
    transform-origin: 50%;
    left: 0;
    top: 0;
    opacity: 0.9;
    cursor: none;
  }
  /*header*/
  #header {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 96;
    background-color: transparent;
    mix-blend-mode: difference;
  }
  #header .inner {
    width: 100%;
    padding: 1.3em 2em 0;
  }
  .header_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
  }

  /*hamberger bars*/
  .bars {
    width: 2.3em;
    height: 1em;
    position: relative;
    cursor: pointer;
    transform: translateY(-1%);
  }
  .bar {
    width: 100%;
    height: 0.1em;
    position: absolute;
    background-color: #fff;
    color: #fff;
  }
  .bar:nth-of-type(1) {
    top: 0;
  }
  .bar:nth-of-type(2) {
    top: 50%;
  }
  .bar:nth-of-type(3) {
    top: 100%;
  }
  .bar.on {
    background-color: #fff !important;
  }
  /*side menu*/
  .side_menu {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: #fff;
  }
  .side_inner {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 22;
  }
  .side_menu .menu {
    font-size: 4.79vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    z-index: 24;
  }
  .side_menu .menu span {
    font-size: 1.56vw;
    margin-right: 0.68vw;
    margin-top: 0.52vw;
  }
  .side_menu .menu li {
    margin: 1.25vw;
    display: flex;
    cursor: pointer;
    overflow: hidden;
  }
  .side_menu .menu li a {
    color: rgba(255, 255, 255, 1);
    transform: translateY(5rem);
  }
  .side_menu .menu li a.on {
    transform: translateY(0rem);
    transition: all 3s;
  }
  .side_menu .menu p:hover {
    text-decoration: line-through;
    text-decoration-thickness: 0.05em;
  }
  /*blob animation*/
  .blob {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 23;
    opacity: 1;
  }
  .blob svg {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 17;
    opacity: 1;
    filter: contrast(1);
  }
  .s1 {
    left: 5%;
  }
  .s2 {
    left: 30%;
    top: 30%;
  }
  .s3 {
    left: 90%;
    top: -10%;
  }
  .s4 {
    left: 65%;
    top: 30%;
  }
  .s5 {
    left: 85%;
    top: 35%;
  }
  .s6 {
    left: 8%;
    top: 68%;
  }
  .s7 {
    left: 55%;
    top: 65%;
    width: 200px;
    height: 200px;
  }
  .s8 {
    right: -5%;
    top: 80%;
  }
  .menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.8vw;
    line-height: 180%;
    z-index: 101;
  }
  .dot {
    position: absolute;
    display: block;
    background-color: #000;
    border-radius: 50%;
    z-index: 2;
  }
  .c1 {
    top: 10%;
    left: 15%;
    width: 18px;
    height: 18px;
  }
  .c2 {
    top: 15%;
    left: 65%;
    width: 15px;
    height: 15px;
  }
  .c3 {
    top: 18%;
    left: 75%;
    width: 25px;
    height: 25px;
  }
  .c4 {
    width: 28px;
    height: 28px;
    top: 35%;
    left: -0.2%;
  }
  .c5 {
    width: 32px;
    height: 32px;
    top: 30%;
    left: 8%;
  }
  .c6 {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
  }
  .c7 {
    width: 26px;
    height: 30px;
    top: 55%;
    left: 67%;
  }
  .c8 {
    width: 30px;
    height: 25px;
    top: 75%;
    left: 85%;
  }
  .c9 {
    width: 25px;
    height: 25px;
    top: 76%;
    left: 25%;
  }
  .c10 {
    width: 26px;
    height: 26px;
    top: 90%;
    left: 26%;
  }
  .c11 {
    width: 27px;
    height: 27px;
    top: 87%;
    left: 50%;
  }
  .c12 {
    width: 30px;
    height: 30px;
    top: 98%;
    left: 48%;
  }
  .side_ menu svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #controls {
    position: absolute;
    z-index: 100;
    color: #fff;
  }
  #controls input[type="range"] {
    background: none;
  }
  #controls input[type="number"] {
    width: 3em;
  }

  label {
    display: block;
  }

  .dg.ac {
    z-index: 100 !important;
  }
  /*sphere*/
  #canvas {
    width: 100%;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background-color: transparent !important;
    display: none;
    opacity: 0;
  }
  .canvas_bg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .canvas-img {
    display: none;
  }
  .ca_inner {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
  .ca_inner .before {
    content: "";
    display: block;
    background-color: transparent;
    border-radius: 50%;
    width: 150rem;
    height: 150rem;
    border: 0.01rem solid rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: scale 3s linear infinite;
    opacity: 0;
  }
  .ca_inner .before.on {
    width: 46rem;
    height: 46rem;
    transition: 1s;
  }
  .ca_inner .after.on {
    width: 100rem;
    height: 100rem;
    transition: 1.3s;
  }
  .ca_inner .after {
    content: "";
    display: block;
    background-color: transparent;
    border-radius: 50%;
    width: 150rem;
    height: 150rem;
    border: 0.01rem solid rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: scale 8s linear infinite;
    animation-delay: 0.5s;
    opacity: 0;
  }
  @keyframes scale {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    25% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    75% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  /*visual*/
  #visual {
    min-height: 100vh;
    position: relative;
    margin: 0px auto;
  }
  #visual .main_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
  }
  #visual p {
    width: 75%;
    margin: 0px auto;
    text-align: right;
    font-size: 1.2vw;
    transform: translateY(13rem);
    text-transform: uppercase;
  }
  #visual h2 {
    color: #000;
    overflow: hidden;
    text-align: center;
    font-size: 13vw;
    transform: translateY(7rem);
  }
  #visual h2 span {
    opacity: 0;
    font-size: 13vw;
    transform: translateY(8rem);
  }
  #visual h2 span.on {
    opacity: 1;
    transform: translateY(2rem);
    transition: transform 0.3s, opacity 1s;
  }
  #visual h2 span:nth-of-type(2).on {
    transition-delay: 0.3s;
  }
  #visual h2 span:nth-of-type(3).on {
    transition-delay: 0.5s;
  }
  #visual h2 span:nth-of-type(4).on {
    transition-delay: 0.7s;
  }
  #visual h2 span:nth-of-type(5).on {
    transition-delay: 0.9s;
  }
  #visual h2 span:nth-of-type(6).on {
    transition-delay: 1.2s;
  }
  #visual h2 span:nth-of-type(7).on {
    transition-delay: 1.5s;
  }
  #visual h2 span:nth-of-type(8).on {
    transition-delay: 1.7s;
  }
  #visual h2 span:nth-of-type(9).on {
    transition-delay: 1.9s;
  }
  /*container*/
  /*con1*/
  .con1 {
    height: auto;
    background-color: transparent;
    position: relative;
    color: #000;
    z-index: 2;
    padding-top: 5rem;
  }
  .con1_inner {
    width: 100%;
    height: 100%;
  }
  .con1_inner .title-profile {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .a-title {
    width: 37.5%;
  }
  .a-title h1 {
    color: #000;
    transform-origin: top right;
    transform: translateX(-100%) rotate(-90deg) translateY(-0.05em);
    white-space: nowrap;
    display: inline-block;
    font-size: clamp(3rem, 20vw, 32rem);
    font-family: "Ayer Poster";
    margin-bottom: 5rem;
  }
  .a-circle {
    width: max(20vw, 15rem);
    text-align: center;
    height: 20vw;
    position: relative;
    display: inline-block;
  }
  .a-circle-i {
    background-color: #000;
    width: max(9.5vw, 90px);
    height: max(9.5vw, 90px);
    line-height: 9.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border-radius: 50%;
    font-size: 1.8rem !important;
    transform: translate(-50%, -50%) rotate(90deg);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .con1_inner .profile {
    width: 100%;
    margin: 10rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .con1_inner .profile span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
  }
  .con1_inner .profile_right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-weight: 500;
  }
  .con1_inner .profile_right h2 {
    transform: translateY(5rem);
    opacity: 0;
    text-align: right;
  }
  .con1_inner .profile_right div:nth-of-type(2).on h2 {
    transition-delay: 0.3s;
  }
  .con1_inner .profile_right div:nth-of-type(3).on h2 {
    transition-delay: 0.6s;
  }
  .con1_inner .profile_right h2 span {
    color: #999;
  }
  .con1_inner .profile_right div.on h2 {
    transform: translateY(0rem);
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 8rem auto;
  }
  .about .age-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem auto 0;
  }
  .about .age-img p {
    font-size: 8rem;
    font-weight: 700;
  }
  .about .img-bg {
    text-align: center;
  }
  .about img {
    width: 100%;
  }
  .about .timeline {
    width: 100%;
    height: 70vh;
    position: relative;
    margin: 0px auto;
  }
  .about .timeline::before {
    content: "";
    display: inline-block;
    margin: 0px auto;
    width: 0.2rem;
    height: 60vh;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about .timeline-content {
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    margin: 3rem auto 0;
    font-size: 1rem;
    /* position: relative; */
  }
  .about .timeline-content p {
    max-width: 21rem;
    display: inline-block;
    text-wrap: nowrap;
    opacity: 0;
    /* transform: translateY(5rem); */
  }
  .about .timeline-content p.on {
    opacity: 1;
    /* transform: translateY(0rem); */
    transition: 0.5s;
  }
  .about .timeline-content p:nth-of-type(2) {
    transition-delay: 0.7s;
  }
  .about .timeline-content p:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .about .timeline-content p:nth-of-type(4) {
    transition-delay: 1.1s;
  }
  .about .timeline-content p:nth-of-type(5) {
    transition-delay: 1.3s;
  }
  .about .timeline-content span {
    font-size: 0.8rem;
  }
  .about .timeline p:nth-child(odd) {
    text-align: right;
  }
  .about .timeline p:nth-child(even) {
    margin-left: 26rem;
  }
  .about .timeline-content p:nth-child(odd)::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: forestgreen;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .about .timeline-content p:nth-child(even)::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: forestgreen;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  /*skills*/
  .skills {
    width: 100%;
    height: 40vh;
    margin: 0rem auto 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skills-inner {
    width: 60%;
    height: 13vh;
    margin: 0px auto;
  }
  .skills-inner > p {
    color: #fff;
    transform: translate(1rem, 2rem) rotate(-20deg);
    background-color: #000;
    padding: 0.5rem 1rem;
    transform-origin: center;
    display: inline-block;
  }
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
  }
  .im {
    width: calc(100% / 2.3);
    height: 100%;
    font-size: 4rem;
    margin-top: 1.3rem;
  }
  .skill_wrap {
    width: calc(100% / 2.4);
    height: 100%;
    position: relative;
    overflow: hidden;
    font-family: "Ayer Poster";
    font-weight: 700;
    letter-spacing: 0.4rem;
  }
  .skill {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 6.2rem;
  }
  .appeal {
    margin-top: 2rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .appeal p {
    color: #888;
  }
  /*icons*/
  .icons img {
    position: absolute;
    z-index: 1;
  }
  .icons img:nth-of-type(1) {
    width: 12%;
    top: 4%;
    transform: rotate(12deg);
  }
  .icons img:nth-of-type(2) {
    width: 30%;
    top: 1%;
    left: 75%;
  }
  .icons img:nth-of-type(3) {
    width: 70%;
    top: 80%;
    right: -10%;
  }
  /*con2*/
  .con2 {
    width: 100%;
    padding: 10rem 0;
    position: relative;
    opacity: 0;
  }
  .con2:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0;
    background-color: transparent;
    transition: 1.7s;
    z-index: 0;
  }
  .con2-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .con2-inner .bg-text {
    width: 100%;
    height: 24rem;
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translateY(-50%);
    display: inline-block;
    z-index: 3;
    color: #fff;
  }
  .con2-inner .bg-text .txt-box {
    width: 100%;
    height: 232px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    font-size: 10rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .con2-inner .bg-text .txt-box .box-over {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .con2-inner .bg-text .txt-box .tb-inner {
    width: 100%;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .con2-inner .bg-text .txt-box:nth-of-type(1) .tb-inner {
    animation: to-left 32s infinite;
  }
  .con2-inner .bg-text .txt-box:nth-of-type(2) .tb-inner {
    animation: to-right 32s infinite;
  }
  @keyframes to-left {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2250px, 0, 0);
    }
  }
  @keyframes to-right {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(1516px, 0, 0);
    }
  }
  .con2-inner .bg-text .txt-box .tb-inner span,
  .con2-inner .bg-text .txt-box .tb-inner p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif !important;
    vertical-align: middle;
  }
  .con2-inner .bg-text .txt-box:nth-of-type(2) {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    color: transparent;
  }
  .con2-inner .bg-text .txt-box:nth-of-type(2) .box-over .tb-inner {
    display: flex;
    flex-direction: row-reverse;
  }
  .con2-inner .bg-text .no-animation .box-over {
    width: 100%;
    overflow: hidden;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    right: 1%;
  }
  .con2-inner .bg-text .no-animation .box-over .tb-inner {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 8rem;
  }

  .scroll-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 700px;
    position: relative;
    z-index: 3;
    margin: 0px auto;
    padding: 10rem 0rem;
    color: #fff;
    text-transform: uppercase;
  }
  .scroll-work .work {
    width: 760px;
    margin: 0px auto;
    display: inline-block;
  }
  .scroll-work .work:nth-child(odd) {
    transform: translateX(-30%);
  }
  .scroll-work .work:nth-child(even) {
    transform: translateX(30%);
  }
  .scroll-work .work img {
    width: 100%;
  }
  .scroll-work .work .work-inside {
    position: relative;
  }
  .scroll-work .work-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    opacity: 0;
  }
  .scroll-work .work:hover .work-back {
    display: block;
    opacity: 1;
  }
  .scroll-work .work:hover .inner .keyword span {
    color: #fff;
    background: #222;
  }
  .scroll-work .work:hover .inner svg path {
    stroke: #222;
  }
  .scroll-work .work:hover .inner .btn-box a {
    color: #222;
  }
  .scroll-work .work + .work {
    margin-top: -350px;
  }
  .scroll-work .work .btn-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .scroll-work .work .btn-box a,
  .scroll-work .work .btn-box p {
    display: block;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.2s;
    color: #fff;
  }
  .scroll-work .work .btn-box p {
    cursor: pointer;
  }
  .scroll-work .work .btn-box a:hover,
  .scroll-work .work .btn-box p:hover {
    transform: translateX(10px);
  }
  .scroll-work .work .btn-box svg {
    width: 35px;
    margin-left: 10px;
  }
  .scroll-work .work .btn-box svg path {
    stroke: #fff;
  }
  .scroll-work .work-inner p:nth-of-type(2) {
    margin-top: 2%;
  }
  .scroll-work .work-inner p > span {
    background-color: #999;
    color: #fff;
    border-radius: 23px;
    padding: 1%;
    margin: 0% 0.5%;
  }
  /*con2 modal*/
  .modal_box {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
  }
  .modal_box.on {
    display: flex;
  }
  .modal {
    width: 62%;
    min-width: 55%;
    height: 90%;
    max-height: 90%;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
  }
  .modal.on {
    display: block;
  }
  .modal .content {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 99;
  }

  .mo_con {
    width: 100%;
  }
  .mo_con img {
    width: 100%;
  }
  #close_1 {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background: transparent;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
  }

  /*스크롤 효과*/
  .con2.on {
    background-color: #000;
    transition: 0.5s all ease-in;
    opacity: 1;
  }
  .con2.on.after-hidden:after {
    display: none;
  }

  /*con3*/
  .con3 {
    height: 100vh;
    min-height: 100vh;
    border-radius: 0 0 5% 5%;
    position: relative;
    background-color: #000;
    color: #000;
  }
  .con3 .con3_inner {
    width: 100% !important;
    height: 100%;
    padding: 10vh 0 7vh 5rem;
  }
  .con3 .div_wrap {
    display: none;
  }
  .con3_inner .de_modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0px auto;
    display: none;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .con3_inner .modal_wrap {
    width: 70%;
    height: 90%;
    max-height: 861px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .con3_inner .de_modal #arrows {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    top: 50%;
    z-index: 130;
    transform: translateY(-50%);
    background-color: transparent;
  }
  .con3_inner .de_modal #arrows span {
    width: 2.5%;
    display: inline-block;
    margin: 0px auto;
    color: white;
    cursor: pointer;
  }
  .con3_inner .div_wrap {
    width: 600%;
    height: 100%;
    margin: 0px auto;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
  }
  .con3_inner .div_wrap .mo_bg {
    width: calc(100% / 6);
    height: 100%;
    background-color: #fff;
  }
  .con3_inner .div_wrap .mo_bg:nth-of-type(4) {
    justify-content: flex-start;
  }
  .con3_inner .mo_bg .poster {
    width: 100%;
    text-align: center;
    margin: 4% auto;
  }
  .con3_inner .poster img {
    width: 30%;
  }
  .con3_inner .mo_bg .poster {
    margin: 3.5% auto;
  }
  .con3_inner .mo_bg:nth-of-type(4) {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .con3_inner .mo_bg:nth-of-type(4) .poster img {
    width: 60%;
  }
  .con3_inner .mo_bg:nth-of-type(4) .mo_text {
    margin: 3.5% auto 0;
  }
  .con3_inner .mo_bg .mo_text {
    width: 80%;
    color: white;
    text-align: center;
  }
  .con3_inner .mo_text div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .con3_inner .mo_text img {
    width: 5%;
    max-width: 39px;
    margin: 5px;
  }
  .con3_inner #close_2 {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background: transparent;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
  }

  /*carousel*/
  .de_carousel {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  /*con3 de-text*/
  .con3_inner .de-text {
    width: 55%;
    display: flex;
  }
  .con3_inner .de-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 8rem;
    transform: translateX(-4rem) translateY(-3rem);
  }
  .con3_inner .de-arrow > div {
    border-radius: 50%;
    border: 0.1rem solid #fff;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    text-align: center;
  }
  .con3_inner .de-arrow > div span {
    color: #fff;
    font-size: 3rem;
  }
  .con3_inner h2 {
    width: 100%;
    font-size: 13vw;
    font-weight: bold;
    z-index: 15;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  /*con3 posters*/
  .design_wrap {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform: translateX(30%);
  }
  .design {
    width: 500%;
    gap: 7rem;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  .con3_inner .de_bg {
    width: 18rem;
    height: 30rem;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .con3_inner .de_bg img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    transform-origin: center center;
    object-fit: cover;
    object-position: center center;
    position: relative;
  }
  .con3_inner .de_bg p {
    width: 100%;
    color: #fff;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  .con3_inner .de_bg:hover img {
    filter: grayscale(9);
  }
  .con3_inner .de_bg::before {
    content: "click!";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.3rem;
    opacity: 0;
    background-color: #000;
    z-index: 10;
    padding: 3%;
    border: 0.1rem solid #fff;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 0.2px;
  }
  .con3_inner .de_bg:hover::before {
    opacity: 1;
    transition: 0.3s;
  }
  /*on효과*/
  .con3.on .design_wrap {
    transform: translateX(0);
    transition: 1s;
  }
  .con3_inner .de_modal.on {
    display: block;
    z-index: 120;
  }
  .swiper-pagination {
    display: none;
  }
  .con3_inner .de_modal #arrows {
    width: 100%;
    justify-content: space-between;
  }
  .con3_inner .de_modal #arrows span {
    width: 8%;
    margin: 0;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
    color: #000;
  }
  .con3_inner .mo_text img {
    width: 35%;
    min-width: 39px;
    mix-blend-mode: difference;
  }
  /*con4*/
  .con4 {
    background-color: #fff;
  }
  .con4_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9.64vw auto 3.39vw 3vw;
  }
  .con4_inner span {
    display: inline-block;
  }
  .con4_inner .enter {
    width: 3.49vw;
    height: 3.85vw;
    display: inline-block;
    background: url("img/ico_enter.svg") no-repeat center / cover;
  }
  .con4_inner h2 {
    font-size: 7.81vw;
    line-height: 7.24vw;
    opacity: 0;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg);
    transition-delay: 0.5s !important;
  }
  .con4_inner h2:nth-child(1) p {
    font-size: 8.18vw;
  }
  .con4_inner h2:nth-child(2) p {
    width: 6.38vw;
    height: 6.59vw;
  }
  .con4_inner .cir_wrap {
    transform: translateY(0.2em) !important;
    opacity: 1 !important;
    transition: 0s !important;
  }
  .con4_inner .con4_wrap p {
    width: 6.38vw;
    height: 6.59vw;
    font-family: "Noto Sans KR", sans-serif;
    display: inline-block;
    transform: translateY(0.8vw);
  }
  .con4_inner .ro_cir {
    display: block;
    width: 6.38vw;
    border-radius: 50%;
    height: 6.59vw;
    background-size: 100% 100%;
    position: absolute;
    background: url(img/ico_typo_O.png) no-repeat center / cover;
  }
  .con4_inner .ro_cir:nth-of-type(1) {
    animation: ro_cir_1 3s linear infinite;
    transform: translate(0vw, 0vw);
  }
  /*con4_동그라미_움직임_애니메이션*/
  @keyframes ro_cir_1 {
    0% {
      transform: translate(0vw, 0vw);
    }

    50% {
      transform: translate(-0.52vw, -0.52vw);
    }

    90% {
      transform: translate(0vw, 0vw);
    }
  }
  .con4_inner .ro_cir:nth-of-type(3) {
    animation: ro_cir_3 3s linear infinite;
    transform: translate(0vw, 0vw);
  }
  @keyframes ro_cir_3 {
    0% {
      transform: translate(0vw, 0vw);
    }

    50% {
      transform: translate(0.52vw, 0.52vw);
    }
    90% {
      transform: translate(0vw, 0vw);
    }
  }

  .con4_inner .info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9.64vw auto 3.39vw;
  }
  .con4_inner p {
    display: flex;
    align-items: center;
    transform: translateY(20%);
    opacity: 0;
  }
  .con4_inner p span {
    display: inline-block;
  }
  .con4_inner .info a {
    color: #111;
    display: flex;
    align-items: center;
  }
  .con4_inner .info img {
    width: 5%;
    display: inline-block;
    margin-right: 2em;
  }
  .con4 .info_left p:nth-of-type(1) {
    margin: 1rem 0rem;
  }
  .con4 .info_right p:nth-of-type(1) {
    margin: 1rem 0rem;
  }

  /*.con4 on 효과*/
  .con4.on h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 1s;
  }
  .con4.on .con4_inner p {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
    transition-delay: 2s;
  }
  .con4.on .con4_inner p:nth-of-type(1) {
    transition-delay: 2s;
  }
  .con4.on .con4_inner p:nth-of-type(2) {
    transition-delay: 2.5s;
  }
  .con4.on .con4_inner p:nth-of-type(3) {
    transition-delay: 3s;
  }
  .con4.on .con4_inner p:nth-of-type(3) {
    transition-delay: 3.5s;
  }
}
/*******************************************/
@media all and (max-width: 1901px) and (min-width: 1513px) {
  body {
    cursor: none;
  }
  .navi {
    left: 50%;
    top: 2.8%;
  }
  /*canvas*/
  .ca_inner .before.on {
    width: 40rem;
    height: 40rem;
  }
  .ca_inner .after.on {
    width: 90rem;
    height: 90rem;
  }
  #visual p {
    transform: translateY(11rem);
  }
  /*timeline*/
  .about .timeline {
    height: 74vh;
  }
  .about .timeline::before {
    height: 70vh;
  }
  .about .timeline p:nth-child(even) {
    margin-left: 20rem;
  }
  .about .timeline p:nth-child(odd) {
    max-width: 17rem;
  }
  .skills-inner {
    height: 16vh;
  }
  /*con2*/
  .con2-inner .bg-text .txt-box {
    height: 185px;
    font-size: 8rem;
  }
  .con2-inner .bg-text .no-animation .box-over .tb-inner {
    gap: 0rem;
  }
  /*design*/
  .design_wrap {
    height: 100%;
  }
  .con3_inner .de_bg {
    width: 18rem;
  }
  .con3_inner h2:nth-of-type(2) {
    bottom: -5%;
  }
  .con3_inner .de_modal {
    height: 1024px;
  }
  .con3_inner .modal_wrap {
    width: 70%;
    height: 95%;
  }
  .con3_inner .de_modal #arrows {
    width: 100%;
    justify-content: space-between;
    top: 40%;
  }
  .con3_inner .de_modal #arrows span {
    width: 3%;
    font-size: 30px;
    margin: 0;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
  }
  .con3_inner .mo_text img {
    width: 35%;
  }
  .con3_inner .poster img {
    width: 34%;
  }
}
/*******************************************/
@media (max-width: 1512px) and (min-width: 1024px) {
  body {
    cursor: none;
  }
  #wrap {
    width: 100%;
  }
  #header .inner {
    width: 100%;
    padding: 4.1em 2em 0;
    margin: 0px auto;
    text-align: center;
  }
  .header_wrap {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
  }
  .header_wrap > div:nth-of-type(1) {
    margin: 0px auto;
    text-align: center;
  }
  #header .navi {
    top: 2.8%;
    left: 55%;
  }
  .navi a {
    min-width: 8rem;
    padding: 0.65rem 1rem;
  }
  /*canvas*/
  .ca_inner .before.on {
    width: 33rem;
    height: 33rem;
  }
  .ca_inner .after.on {
    width: 68rem;
    height: 68rem;
  }
  /*visual*/
  #visual .main_text {
    height: 90%;
  }
  #visual p {
    font-size: 2vw;
    transform: translateY(8rem);
  }
  #visual h2 {
    transform: translateX(3vw) translateY(13vh);
    font-size: 6vw;
  }
  #visual h2 span.on {
    transform: translateY(1rem);
  }
  /*con1*/
  .con1 {
    height: auto;
  }
  .con1_inner h2 {
    font-size: 5vw;
    white-space: nowrap;
  }
  .con1 .a-title h1 {
    font-size: clamp(3rem, 25vw, 32rem);
    letter-spacing: 0.5rem;
  }
  .con1_inner .profile_left img {
    width: 86%;
    transform: rotate(0deg) translateY(3%);
    transform-origin: center bottom;
    animation: move 6s linear infinite;
  }
  @keyframes move {
    0% {
      transform: rotate(0deg) translateY(3%);
    }
    25% {
      transform: rotate(-3deg) translateY(3%);
    }
    50% {
      transform: rotate(0deg) translateY(3%);
    }
    75% {
      transform: rotate(3deg) translateY(3%);
    }
    100% {
      transform: rotate(0deg) translateY(3%);
    }
  }
  .con1_inner .profile_right {
    margin: -7rem auto 0;
  }
  .about .timeline-content p {
    max-width: 9rem;
  }
  .about .timeline p:nth-child(even) {
    margin-left: 186px;
  }
  .about .timeline {
    height: 630px;
  }
  .about .timeline::before {
    height: 555px;
  }
  .about .timeline-content {
    width: 330px;
    height: 582px;
  }
  .skills {
    height: 386px;
  }
  .skills-inner {
    width: 90%;
    height: 110px;
  }
  .icons img:nth-of-type(2) {
    top: -35%;
    left: 86%;
  }
  /*con2*/
  .con2 {
    height: auto;
    overflow: hidden;
    padding: 10rem 0 5rem 0;
  }
  .con2_inner h2 {
    font-size: 6vw;
  }
  .con2_inner {
    height: 100%;
  }
  .con2_inner .work {
    height: auto;
  }
  .con2_inner .works {
    height: 100%;
    padding: 0;
  }
  .con2_inner .work:before {
    margin: 0vh auto 1vh;
  }
  .con2_inner .works p {
    width: 80%;
  }
  .con2_inner .work_btn span {
    width: 5rem;
    font-size: 0.8rem;
    margin: 0.8rem;
  }
  .con2-inner .bg-text .txt-box .tb-inner span,
  .con2-inner .bg-text .txt-box .tb-inner p {
    white-space: nowrap;
  }
  .scroll-work .work {
    width: 55%;
  }
  .scroll-work .work .btn-box .pp {
    white-space: nowrap;
  }
  /*con3*/
  .con3 {
    max-height: 897px;
    min-height: 80%;
    height: 897px;
    border-radius: 0 0 12% 12%;
  }
  .con3_inner {
    padding: 8vh 0 7vh;
  }
  .design_wrap {
    height: 85%;
  }
  .con3_inner h2:nth-of-type(2) {
    bottom: 2%;
  }
  .con3_inner .modal_wrap {
    width: 70%;
    min-height: 603px;
  }
  .con3_inner .de_modal #arrows {
    width: 100%;
    justify-content: space-between;
  }
  .con3_inner .de_modal #arrows span {
    width: 8%;
    margin: 0;
  }
  .next_2 {
    text-align: right;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
  }
  .con3_inner .mo_text img {
    width: 35%;
  }
  .con3_inner .mo_bg:nth-of-type(4) .poster img {
    height: auto;
  }
  /*con4*/
  .con4 {
    height: auto;
  }
  .con4_inner {
    padding: 8vh 0 7vh;
  }
}

/************************************/

@media (max-width: 1023px) and (min-width: 768px) {
  body {
    cursor: default !important;
  }
  #header .inner {
    padding: 2rem;
  }
  .con {
    height: auto;
  }
  .con .inner {
    padding: 7vh 0;
  }
  .cursor {
    display: none;
  }
  /*side-menu*/
  .side_menu .menu {
    font-size: 7vh;
  }
  /*visual*/
  #visual .inner {
    width: 100%;
    height: 100vh;
  }
  #visual h2 {
    font-size: 13vw;
    transform: translateY(-1rem);
  }
  #canvas {
    width: 100% !important;
    height: 100% !important;
    transform: translate(-50%, -50%);
    transform-origin: left top;
  }
  .canvas-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .canvas-img img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ball 13s infinite;
    transform-origin: left top;
  }
  @keyframes ball {
    0% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
    25% {
      transform: rotate(180deg) translate(-50%, -50%);
    }
    50% {
      transform: rotate(360deg) translate(-50%, -50%);
    }
    75% {
      transform: rotate(180deg) translate(-50%, -50%);
    }
    100% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
  }
  .ca_inner {
    height: 100vh;
  }
  .ca_inner .before.on {
    width: 30rem;
    height: 30rem;
    transition: 1s;
  }
  .ca_inner .after.on {
    width: 55rem;
    height: 55rem;
    transition: 1.3s;
  }
  #visual .main_text {
    height: 95%;
  }
  #visual p {
    transform: translateY(0);
    font-size: 1rem;
  }
  /*con1*/
  .con1_inner .profile {
    width: 62.5%;
  }
  .con1 .a-title h1 {
    font-size: clamp(3rem, 25vw, 32rem);
    letter-spacing: 0.7rem;
  }
  .a-circle-i {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about .timeline {
    height: 610px;
  }
  .about .timeline-content {
    width: 306px;
    height: 555px;
    gap: 50px;
  }
  .about .timeline::before {
    height: 530px;
  }
  .about .timeline-content p {
    max-width: 8rem;
  }
  .about .timeline-content p:nth-of-type(4) {
    white-space: wrap;
  }
  .about .timeline p:nth-child(even) {
    margin-left: 11rem;
  }
  .skills-inner {
    width: 90%;
  }
  .im {
    font-size: 3rem;
  }
  .carousel {
    height: 100px;
  }
  .skill_wrap {
    width: calc(100% / 2);
  }
  .skill {
    font-size: 5.2rem;
  }
  .appeal {
    position: relative;
    z-index: 9;
  }
  /*con2*/
  .con2-inner .bg-text {
    height: 34rem;
  }
  .con2-inner .bg-text .txt-box {
    font-size: 8rem;
    height: 185px;
  }
  .scroll-work .work {
    width: 60%;
  }
  .con2-inner .bg-text .txt-box .tb-inner {
    height: 100%;
  }
  .con2_inner .work:before {
    margin: 0vh auto 3vh;
  }
  .con2_inner .work_p {
    padding: 1vh 0;
  }
  .scroll-work .work .btn-box {
    white-space: nowrap;
  }
  .scroll-work .work .btn-box p {
    font-size: 2rem;
  }
  .con2_inner .work_btn span {
    font-size: 1.1vw;
    margin: 1vw;
  }
  .con2-inner .bg-text .no-animation .box-over .tb-inner {
    font-size: 7rem;
  }
  .con2 .modal {
    width: 85%;
  }
  /*con3*/
  .con3 {
    height: 70vh;
    min-height: 820px;
    position: relative;
    border-radius: 0 0 80px 80px;
  }
  .con3 .con3_inner {
    width: 90% !important;
    margin: 0px auto;
  }
  .con3_inner .de-arrow {
    transform: translateX(2rem) translateY(0rem);
    align-items: center;
  }
  .con3_inner .de_bg {
    width: 22rem;
    height: 35rem;
  }
  .de_carousel {
    display: block;
  }
  .design_wrap {
    width: 50.5%;
    max-width: 350px;
    min-width: 349px;
    height: 80%;
    margin: 0px auto;
  }
  .design {
    gap: 0;
  }
  .con3_inner .de_bg:nth-of-type(3) img {
    transform: scale(0.97);
  }
  .con3_inner .de_modal #arrows {
    justify-content: space-around !important;
  }
  .con3_inner .de_modal #arrows span {
    width: 34%;
  }
  .next_2 {
    text-align: right;
  }
  .con3_inner .poster img {
    width: 50%;
    min-width: 40%;
    max-width: 70%;
  }
  .con3_inner .mo_text > p {
    font-size: 1rem;
  }
  .con3_inner .mo_text img {
    min-width: 40px;
  }
  .con3_inner .mo_bg:nth-of-type(4) .poster img {
    height: auto;
  }
  /*con4*/
  .con4 h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 0s;
    font-size: 12vw;
    line-height: 13vw;
  }
  .con4_inner .enter {
    width: 6vw;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition-delay: 0s !important;
  }
  .con4 .con4_inner p {
    transform: translateX(-2.2vw) translateY(2.2vw);
    opacity: 1;
    transition: 0s;
    transition-delay: 0s;
  }
  .con4_inner h2:nth-child(2) p {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .ro_cir {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .info {
    display: block;
  }
}

/*****************************************************/

@media (max-width: 767px) and (min-width: 481px) {
  body {
    cursor: default !important;
  }
  .con {
    height: auto;
  }
  .con .inner {
    padding: 7vh 0;
  }
  .cursor {
    display: none;
  }
  /*header*/
  #header .inner {
    padding: 2rem;
  }
  #header .header_wrap {
    margin: 0px auto;
  }
  .barr {
    transform: translateY(0.6rem);
  }
  #header .navi {
    display: none;
    top: 1.6%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.4rem;
  }
  #header .navi p {
    display: flex;
    font-size: 0.9em;
    min-width: 10rem;
    margin-top: 0;
  }
  #header .navi p a {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  #header .bars {
    display: block;
  }
  .ca_inner .before.on {
    width: 30rem;
    height: 30rem;
    transition: 1s;
  }
  .ca_inner .after.on {
    width: 55rem;
    height: 55rem;
    transition: 1.3s;
  }

  /*side-menu*/
  .side_menu .menu {
    font-size: 7vh;
  }
  /*visual*/
  #visual .inner {
    width: 100%;
    height: 100vh;
  }
  #visual h2 {
    font-size: 13vw;
    transform: translateY(-1rem);
  }
  #canvas {
    width: 100% !important;
    height: 100% !important;
    transform: translate(-50%, -50%);
    transform-origin: left top;
  }
  .canvas-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .canvas-img img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ball 13s infinite;
    transform-origin: left top;
  }
  @keyframes ball {
    0% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
    25% {
      transform: rotate(180deg) translate(-50%, -50%);
    }
    50% {
      transform: rotate(360deg) translate(-50%, -50%);
    }
    75% {
      transform: rotate(180deg) translate(-50%, -50%);
    }
    100% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
  }
  .ca_inner {
    height: 100vh;
  }
  .ca_inner .before.on {
    width: 20rem;
    height: 20rem;
    transition: 1s;
  }
  .ca_inner .after.on {
    width: 40rem;
    height: 40rem;
    transition: 1.3s;
  }
  #visual .main_text {
    height: 95%;
  }
  #visual p {
    transform: translateY(0);
    font-size: 1rem;
  }

  /*con1*/
  /*con1*/
  .con1_inner .profile {
    width: 62.5%;
  }
  .con1 .a-title h1 {
    font-size: clamp(3rem, 20vw, 32rem);
    letter-spacing: 0.7rem;
  }
  .a-circle-i {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about .age-img p {
    font-size: 5rem;
  }
  .strong > div {
    margin-bottom: 0.5rem;
  }
  .con1_inner .profile_right div.on h2 {
    white-space: nowrap;
  }
  .about .timeline {
    height: 500px;
  }
  .about .timeline::before {
    height: 490px;
  }
  .about .timeline-content {
    width: 234px;
    gap: 2rem;
    height: 430px;
  }
  .about .timeline-content p {
    max-width: 6.5rem;
    white-space: wrap;
  }
  .about .timeline-content p:nth-of-type(4) {
    white-space: wrap;
    width: 14rem;
  }

  .about .timeline p:nth-child(even) {
    margin-left: 8rem;
  }
  .skills-inner {
    width: 90%;
    height: 36vh;
  }
  .im {
    font-size: 3rem;
    width: 100%;
  }
  .carousel {
    justify-content: center;
    flex-direction: column;
  }
  .skills {
    height: 80vh;
  }
  .skill_wrap {
    width: 100%;
  }
  .skill {
    font-size: 5.2rem;
  }
  .appeal {
    position: relative;
    z-index: 9;
  }
  .about .timeline .content p {
    max-width: 14rem;
  }
  .icons img:nth-of-type(3) {
    top: 92%;
  }

  /*con2*/
  .con2-inner .bg-text {
    height: 20rem;
  }
  .con2-inner .bg-text .txt-box {
    height: 138px;
    font-size: 6rem;
  }
  .scroll-work {
    gap: 550px;
  }
  .scroll-work .work {
    width: 60%;
  }
  .con2_inner .work:before {
    margin: 0vh auto 3vh;
  }
  .con2_inner .work_p {
    padding: 1vh 0;
  }
  .scroll-work .work .btn-box {
    white-space: nowrap;
  }
  .scroll-work .work .btn-box a,
  .scroll-work .work .btn-box p {
    font-size: 1rem;
  }
  .con2_inner .work_btn span {
    font-size: 1.1vw;
    margin: 1vw;
  }
  .scroll-work .work-inner p:nth-of-type(2) {
    font-size: 0.7rem;
  }
  .con2-inner .bg-text .no-animation .box-over .tb-inner {
    font-size: 5rem;
  }
  .con2 .modal {
    width: 85%;
  }
  /*con3*/
  /*con3*/
  .con3 {
    height: 80vh;
    position: relative;
    border-radius: 0 0 80px 80px;
  }
  .con3 .con3_inner {
    width: 90% !important;
    margin: 0px auto;
  }
  .con3_inner .de-arrow {
    transform: translateX(2rem) translateY(0rem);
    align-items: center;
  }
  .con3_inner .de_bg {
    width: 15rem;
    height: 24rem;
  }
  .de_carousel {
    display: block;
  }
  .design_wrap {
    width: 50.5%;
    max-width: 240px;
    min-width: 240px;
    height: 80%;
    margin: 0px auto;
  }
  .design {
    gap: 0;
  }
  .con3_inner .de_bg:nth-of-type(3) img {
    transform: scale(0.97);
  }
  .con3_inner .de_modal #arrows {
    justify-content: space-around !important;
  }
  .con3_inner .de_modal #arrows span {
    width: 34%;
  }
  .next_2 {
    text-align: right;
  }
  .con3_inner .poster img {
    width: 70%;
  }
  .con3_inner .mo_text > p {
    font-size: 1rem;
  }
  .con3_inner .mo_text img {
    min-width: 45px;
  }

  /*con4*/
  .con4 h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 0s;
    font-size: 12vw;
    line-height: 13vw;
  }
  .con4_inner .enter {
    width: 6vw;
  }
  .con4_inner {
    padding: 3rem 0 !important ;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition-delay: 0s !important;
  }
  .con4 .con4_inner p {
    transform: translateX(-2.2vw) translateY(2.2vw);
    opacity: 1;
    transition: 0s;
    transition-delay: 0s;
  }
  .con4_inner h2:nth-child(2) p {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .ro_cir {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .info {
    display: block;
  }
}

/****************mobile*********************/
@media all and (max-width: 480px) {
  html,
  body {
    width: 100%;
    max-width: 100%;
  }
  body {
    cursor: default !important;
  }
  .inner h2 {
    font-size: 9.5vw;
  }
  .con {
    height: auto !important;
  }
  .cursor {
    display: none;
  }
  /*header*/
  #wrap {
    width: 100%;
    position: relative;
  }
  #header {
    max-width: 100%;
    margin: 0px auto;
  }
  .inner {
    max-width: 100%;
  }
  .header_wrap {
    max-width: 100%;
  }
  .bars {
    display: block;
    width: 1.5em;
    height: 0.8em;
  }
  #header .side_menu {
    width: 100%;
  }
  .side_menu .menu span {
    display: inline-block;
    font-size: 6vw;
    margin-right: 1%;
  }
  .side_menu .menu li {
    font-size: 9vw;
    margin: 8% 0%;
  }

  /*visual*/
  #visual .inner {
    width: 100%;
    height: 100vh;
  }
  #visual h2 {
    font-size: 13vw;
    transform: translateY(-1rem);
  }
  #canvas {
    width: 100% !important;
    height: 100% !important;
    transform: translate(-50%, -50%);
    transform-origin: left top;
  }
  .canvas-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .canvas-img img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ball 13s infinite;
    transform-origin: left top;
  }
  @keyframes ball {
    0% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
    25% {
      transform: rotate(180deg) translate(-50%, -50%);
    }
    50% {
      transform: rotate(360deg) translate(-50%, -50%);
    }
    75% {
      transform: rotate(180deg) translate(-50%, -50%);
    }
    100% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
  }
  .ca_inner {
    height: 100vh;
  }
  .ca_inner .before.on {
    width: 15rem;
    height: 15rem;
    transition: 1s;
  }
  .ca_inner .after.on {
    width: 35rem;
    height: 35rem;
    transition: 1.3s;
  }
  #visual .main_text {
    height: 95%;
  }
  #visual p {
    transform: translateY(0);
    font-size: 1rem;
  }
  /*con1*/
  .con1_inner .profile {
    margin: 7rem 0 0;
  }
  .a-title {
    width: 35%;
  }
  .a-title h1 {
    letter-spacing: 1rem;
  }
  .strong > div {
    margin-bottom: 1rem;
    transform: translateX(-1rem);
  }
  .con1 .inner h2 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .con1 .inner h2 span {
    font-size: 1rem;
  }
  .about .timeline p:nth-child(even) {
    margin-left: 0;
  }
  .a-circle-i {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about {
    margin: 1rem auto;
  }
  .about .img-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about .age-img p {
    font-size: 5rem;
  }
  .about .timeline {
    width: 110%;
    height: 660px;
  }
  .about .timeline::before {
    height: 600px;
  }
  .about .timeline-content {
    width: 100%;
    height: 660px;
    margin: 2rem auto 0;
    text-align: right;
  }
  .about .timeline-content p {
    max-width: 9rem;
    white-space: wrap;
  }
  .skills-inner {
    width: 95%;
    height: 80%;
  }
  .carousel {
    display: block;
    font-size: 1rem;
    height: auto;
  }
  .im {
    width: 100%;
    height: auto;
    font-size: 3rem;
  }
  .skill_wrap {
    width: 80%;
    height: 82px;
    max-height: 82px;
    margin: 3px auto;
  }
  .skill {
    font-size: 4rem;
    margin: 0px auto;
  }
  .icons img:nth-of-type(3) {
    top: 92%;
  }
  /*con2*/
  .con2 {
    height: auto;
  }
  .con2-inner {
    width: 100%;
  }
  .con2-inner .bg-text .txt-box {
    font-size: 3rem;
    height: 72px;
  }
  .con2-inner .bg-text .no-animation .box-over .tb-inner {
    font-size: 2rem;
  }
  .con2-inner .bg-text .txt-box .tb-inner {
    width: 100%;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .con2-inner .bg-text .txt-box:nth-of-type(1) .tb-inner {
    animation: to-left 32s infinite;
  }
  .con2-inner .bg-text .txt-box:nth-of-type(2) .tb-inner {
    animation: to-right 32s infinite;
  }
  @keyframes to-left {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-215px, 0, 0);
    }
  }
  @keyframes to-right {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(215px, 0, 0);
    }
  }
  .con2-inner .bg-text {
    top: 50%;
    height: 15rem;
  }
  .scroll-work {
    width: 100%;
    gap: 800px;
  }
  .scroll-work .work {
    width: 90%;
  }
  .scroll-work .work:nth-child(odd) {
    transform: translateX(0);
  }
  .scroll-work .work:nth-child(even) {
    transform: translateX(0);
  }
  .scroll-work .work .btn-box {
    white-space: nowrap;
    font-size: 0.9rem;
  }
  .scroll-work .work .btn-box a,
  .scroll-work .work .btn-box p {
    font-size: 1.7rem;
  }
  .modal {
    width: 73%;
  }
  /*con3*/
  .con3 {
    height: 70vh !important;
    border-radius: 0 0 32px 32px;
  }
  .con3_inner {
    padding: 3rem 1rem !important ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .con3_inner h2 {
    font-size: 12vw;
  }
  .con3.on .design_wrap {
    transition: 1.5s;
  }
  .design_wrap {
    width: 100%;
    height: 78%;
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
  }
  .design {
    display: flex;
    align-items: center;
    gap: 0;
  }
  .con3_inner .de_bg {
    width: calc(100% / 5);
    height: 36rem;
    position: static;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .con3_inner .de_bg img {
    width: 100%;
    height: 507px;
    object-fit: cover;
  }
  .con3_inner .modal_wrap {
    width: 74%;
    height: 70%;
  }
  .con3_inner .de_modal #arrows {
    width: 100%;
    justify-content: space-between;
  }
  .con3_inner .de_modal #arrows span {
    width: 8%;
    margin: 0;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  .con3_inner .mo_text img {
    width: 35%;
  }

  .con3 .de_carousel {
    display: block;
  }
  .con3 .de-text {
    display: flex;
  }
  .con3_inner .de-arrow {
    transform: translate(0);
    align-items: center;
  }
  .con3_inner .poster img {
    width: 90%;
  }
  /*con4*/
  .con4 h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 0s;
    font-size: 12vw;
    line-height: 13vw;
  }
  .con4_inner .enter {
    width: 6vw;
  }
  .con4_inner {
    padding: 3rem 0 !important ;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition-delay: 0s !important;
  }
  .con4 .con4_inner p {
    transform: translateX(-2.2vw) translateY(2.2vw);
    opacity: 1;
    transition: 0s;
    transition-delay: 0s;
  }
  .con4_inner h2:nth-child(2) p {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .ro_cir {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .info {
    display: block;
  }
}
