* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "Silk-Serif";
  src: url("silk-serif/Silk_Serif_Regular_Italic.otf") format("OpenType");
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  background-color: #111;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
}
/*통일*/
#visual {
  width: 100%;
  height: 100vh;
  background-color: #111;
}
#visual .inner {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  padding: 2em 0em;
}
h2 {
  font-size: 3.8vw;
}
span {
  font-family: "Silk-Serif";
}
.con {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.con .inner {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  padding: 10vh 0 7vh;
}

/**************************************************/
@media all {
  /*header*/
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 96;
    background-color: transparent;
  }
  #header .inner {
    width: 100%;
    padding: 4.1em 2em 0;
  }
  .header_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    margin: 0px auto;
  }
  /*header active*/
  #header.active .navi a {
    color: #111;
  }
  #header.active .navi a {
    border: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 0;
  }
  #header.active .barr {
    border: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 0;
  }
  /*navi*/
  .navi {
    max-width: 600px;
    position: fixed;
    top: 2.3%;
    left: 55%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
  }
  .navi a {
    padding: 0.85rem 1.75rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    line-height: 1;
    min-width: 11rem;
    position: relative;
    background-color: transparent;
    color: #fff;
  }
  .navi a.on {
    padding: 1.05rem 1.75rem !important;
    border-bottom: 0 !important;
    margin-top: calc(-1 * 0.4rem);
    color: rgb(255, 111, 0) !important;
  }
  .barr {
    border: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    height: 1.5rem;
    flex-grow: 1;
    width: 100%;
    margin: 0px auto;
  }
  /*hamberger bars*/
  .bars {
    display: none;
    width: 2em;
    height: 1em;
    position: relative;
    z-index: 99;
    cursor: pointer;
    transform: translateY(-1%);
  }
  .bar {
    width: 100%;
    height: 0.2em;
    position: absolute;
    background-color: #fff;
  }
  .bar:nth-of-type(1) {
    top: 0;
  }
  .bar:nth-of-type(2) {
    top: 50%;
  }
  .bar:nth-of-type(3) {
    top: 100%;
  }
  .bar.on {
    background-color: #fff !important;
  }
  /*navi bar*/
  .navi_bar {
    position: fixed;
    left: 1%;
    top: 50%;
    z-index: 99;
  }
  .navi_bar div {
    width: 0.5vw;
    height: 0.5vw;
    background-color: white;
    border-radius: 50%;
    margin: 1vw;
  }
  .navi_bar a {
    width: 100%;
    height: 100%;
    display: block;
    /* background-color: black; */
    border-radius: 50%;
  }
  .navi_bar div.on {
    transform: scale(1.8);
    background-color: rgb(255, 111, 0) !important;
    transition: 0.5s;
  }

  /*side menu*/
  .side_menu {
    width: calc(100% - 17px);
    height: 100vh;
    margin: 0px auto;
    background-color: #111;
    position: fixed;
    left: 100%;
    top: 0;
  }
  .side_inner {
    width: 100%;
    height: 100%;
    color: white;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  .side_menu .menu {
    font-size: 4.79vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .side_menu .menu span {
    font-size: 1.56vw;
    margin-right: 0.68vw;
    margin-top: 0.52vw;
  }
  .side_menu .menu li {
    margin: 1.25vw;
    display: flex;
    cursor: pointer;
  }
  .side_menu .menu p:hover {
    text-decoration: line-through;
    text-decoration-thickness: 0.05em;
  }

  /*visual*/
  #visual {
    background-color: #111;
    position: relative;
    margin: 0px auto;
  }
  #visual h2 {
    color: #fff;
    transform: translateX(3vw) translateY(20vh);
    font-size: 5vw;
    overflow: hidden;
    transform-style: preserve-3d;
  }
  #visual h2 span {
    opacity: 0;
    transform: translateY(5rem);
  }
  #visual h2 span.on {
    opacity: 1;
    transform: translateY(0rem);
    transition: 0.7s;
  }
  #visual h2 span:nth-of-type(2).on {
    transition-delay: 0.2s;
  }
  #visual h2 span:nth-of-type(3).on {
    transition-delay: 0.4s;
  }
  #visual h2 span:nth-of-type(4).on {
    transition-delay: 0.6s;
  }
  #visual h2 span:nth-of-type(5).on {
    transition-delay: 0.8s;
  }
  #visual h2 span:nth-of-type(6).on {
    transition-delay: 1s;
  }
  #visual h2 span:nth-of-type(7).on {
    transition-delay: 1.2s;
  }
  #visual h2 span:nth-of-type(8).on {
    transition-delay: 1.4s;
  }
  #visual h2 span:nth-of-type(9).on {
    transition-delay: 1.6s;
  }
  #visual h2 span:nth-of-type(10).on {
    transition-delay: 1.8s;
  }
  #visual h2 span:nth-of-type(11).on {
    transition-delay: 2s;
  }
  #visual h2 span:nth-of-type(12).on {
    transition-delay: 2.2s;
  }
  #visual h2 span:nth-of-type(13).on {
    transition-delay: 2.4s;
  }
  #visual h2 span:nth-of-type(14).on {
    transition-delay: 2.6s;
  }
  #visual h2 span:nth-of-type(15).on {
    transition-delay: 2.8s;
  }
  #visual h2 span:nth-of-type(16).on {
    transition-delay: 3s;
  }
  #visual h2 span:nth-of-type(17).on {
    transition-delay: 3.2s;
  }
  #visual h2 span:nth-of-type(18).on {
    transition-delay: 3.4s;
  }
  #visual h2 span:nth-of-type(19).on {
    transition-delay: 3.6s;
  }
  #visual h2 span:nth-of-type(20).on {
    transition-delay: 3.8s;
  }
  #visual h2 span:nth-of-type(21).on {
    transition-delay: 4s;
  }
  #visual .logo_ .p {
    font-size: 20em;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.1vw;
    color: transparent;
    transform: translateX(0.3em) translateY(-0.1em);
    opacity: 1;
    animation: w 2s linear infinite;
  }

  @keyframes w {
    0% {
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*비주얼 회전 시작*/
  #visual .logo_ {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    transform: translate(8rem, 6rem);
  }
  #visual .circle {
    transform-style: preserve-3d;
    animation: animate 8s linear infinite;
    font-family: "Noto Sans KR", sans-serif;
  }
  @keyframes animate {
    0% {
      transform: perspective(1000px) rotateY(-360deg) rotateX(15deg);
    }
    100% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
    }
  }
  #visual .circle .word {
    position: absolute;
    transform-style: preserve-3d;
    font-family: "Noto Sans KR", sans-serif;
  }
  #visual .circle .char {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 3em;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * 11.5deg)) translateZ(360px);
    font-family: "Noto Sans KR", sans-serif;
  }

  /*container*/
  /*con1*/
  .con1 {
    background-color: #111;
    position: relative;
    color: white;
  }

  .con1 h2 {
    color: #f8f8f4;
    margin-left: 1rem;
  }
  .con1_inner {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
  }
  .con1_inner .profile {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }
  .con1_inner .profile_left {
    width: calc(80% / 2);
    margin: 0px auto;
  }
  .con1_inner .profile_left img {
    width: 100%;
    transform: rotate(0deg) translateY(10%);
    transform-origin: center bottom;
    animation: move 6s linear infinite;
  }
  @keyframes move {
    0% {
      transform: rotate(0deg) translateY(10%);
    }
    25% {
      transform: rotate(-3deg) translateY(10%);
    }
    50% {
      transform: rotate(0deg) translateY(10%);
    }
    75% {
      transform: rotate(3deg) translateY(10%);
    }
    100% {
      transform: rotate(0deg) translateY(10%);
    }
  }
  .con1_inner .profile span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
  }
  .con1_inner .profile_right {
    width: calc(100% / 2);
    margin: -11em auto 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .con1_inner .name {
    transform: translateY(20%);
    margin: 1em 0em;
    opacity: 0;
  }
  .con1.on .name {
    transform: translateY(0%);
    transition: 1s;
    opacity: 1;
  }
  .con1_inner .birth {
    margin: 1em 0em;
  }
  .con1_inner .name span {
    font-size: 0.7em;
    cursor: pointer;
    animation: attention 3s linear infinite;
    opacity: 0;
  }
  @keyframes attention {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .con1_inner .cer {
    margin-bottom: 1.5em;
    opacity: 0;
    transform: translateY(20%);
  }
  .con1.on .cer {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s;
    transition-delay: 0.5s;
  }
  .con1_inner .skills {
    width: 30vw;
    opacity: 0;
    transform: translateY(20%);
  }
  .con1_inner .skills img {
    width: 100%;
  }
  .con1.on .skills {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
  }
  /*con2*/
  .con2 {
    position: relative;
  }
  .con2:after {
    content: "";
    position: absolute;
    bottom: 45%;
    left: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    transition: 1.7s;
    z-index: 0;
  }
  .con2_inner {
    position: relative;
    transform: translate3d(0, 0, 0) scale(1);
    z-index: 1;
  }
  .con2 h2 {
    color: #111;
  }
  .con2_inner .works {
    width: 100%;
    margin: 0px auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .con2_inner .work_p {
    margin: 0 auto;
    padding: 2vh 0;
  }
  .con2_inner .works p {
    width: 77%;
    margin: 0 auto;
    padding: 0.5em;
    text-align: left;
  }
  .con2_inner .work span {
    text-align: center;
    margin: 3.5em;
  }
  .con2_inner .works img {
    width: 80%;
  }
  .con2_inner .work {
    width: 100%;
    margin: 0px auto;
    height: 50vh;
    opacity: 0;
  }
  .con2_inner .work:before {
    content: "";
    display: block;
    border-top: 1px solid #222;
    width: 80%;
    margin: 0vh auto 5vh;
  }
  .con2_inner .work_1 {
    transform: translateY(120%);
  }
  .con2_inner .work_2 {
    transform: translateY(-60%);
  }
  .con2_inner .work_3 {
    transform: translateY(-140%);
  }
  .con2.on .work {
    opacity: 1;
    transition: 1.5s;
    transition-delay: 0.7s;
  }
  .con2.on .work_1 {
    transform: translateY(7%);
  }
  .con2.on .work_2 {
    transform: translateY(-17%);
  }
  .con2.on .work_3 {
    transform: translateY(-37%);
  }
  .con2_inner .work_btn {
    text-align: center !important;
  }
  .con2_inner .work_btn span {
    width: 6em;
    display: inline-block;
    /* border-radius: 30%; */
    color: white;
    background-color: #111;
    padding: 1em;
    margin: 1em 2em;
    text-align: center;
    cursor: pointer;
  }

  /*modal*/
  .modal_box {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .modal_box.on {
    display: flex;
  }
  .modal {
    min-width: 65%;
    height: 768px;
    overflow: hidden;
    display: none;
    position: absolute;
    left: 50%;
    top: 6rem;
    transform: translateX(-50%);
  }
  .modal.on {
    display: block;
  }
  .modal .content {
    width: 100%;
    height: 1200px;
    background-color: #fff;
    margin: 0px auto;
    overflow-y: scroll;
  }
  #close_1 {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background: transparent;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
  }
  /*scroll 모양*/
  .con2_inner .mouse {
    display: block;
    margin: 20px 0px 0px;
    width: 1px;
    position: relative;
    right: -100%;
  }
  .con2_inner .mouse span {
    display: inline-block;
  }
  .con2_inner .mouse .line {
    width: 1px;
    height: 5.21vw;
  }

  .con2_inner .mouse p {
    width: 5em;
    text-align: center;
    font-size: 0.8em;
    transform: rotate(90deg) translate(-2em, 2.8em);
  }

  .con2_inner .dot {
    display: block !important;
    width: 100%;
    height: 0%;
    background-color: #222;
    position: absolute;
    top: 20%;
    left: 0%;
    animation: dot_2 2s infinite linear;
    transform: translateY(00%);
  }
  @keyframes dot_2 {
    0% {
      height: 0%;
    }

    70% {
      height: 100%;
      transform: translateY(0%);
    }
    85% {
      height: 100%;
    }
    100% {
      height: 100%;
      transform: translateY(100%);
    }
  }
  .con2.on:after {
    transform: scale(35) translateZ(0);
    background-color: #f8f8f4;
  }
  /*con3*/
  .con3 .div_wrap {
    display: none;
  }
  .con3_inner .de_modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0px auto;
    display: none;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .con3_inner .modal_wrap {
    width: 40%;
    height: 50em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .con3_inner .de_modal #arrows {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    top: 50%;
    z-index: 130;
    transform: translateY(-50%);
    background-color: transparent;
  }
  .con3_inner .de_modal #arrows span {
    width: 2.5%;
    display: inline-block;
    margin: 0px auto;
    color: white;
    cursor: pointer;
  }
  .con3_inner .div_wrap {
    width: 600%;
    height: 100%;
    margin: 0px auto;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
  }
  .con3_inner .div_wrap .mo_bg {
    width: calc(100% / 6);
    height: 100%;
    background-color: #111;
  }
  .con3_inner .mo_bg .poster {
    width: 100%;
    text-align: center;
    margin: 4% auto;
  }
  .con3_inner .poster img {
    width: 50%;
  }
  .con3_inner .mo_bg .mo_text {
    color: white;
    text-align: center;
  }
  .con3_inner .mo_text div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .con3_inner .mo_text img {
    width: 5%;
    margin: 5px;
  }
  .con3_inner #close_2 {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background: transparent;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
  }

  .con3 {
    background-color: #f8f8f4;
    position: relative;
  }
  .con3_inner h2 {
    min-width: 910px;
    font-size: 6vw;
    text-align: center;
    margin: 0px auto;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 15;
  }
  .con3_inner h2:nth-of-type(1) {
    top: 15%;
    left: -150%;
  }
  .con3_inner h2:nth-of-type(2) {
    bottom: 0%;
    left: 150%;
  }
  .design_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .con3_inner .de_bg {
    width: 25rem;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .de_bg img {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
    object-fit: cover;
    object-position: center center;
  }
  .de_bg:nth-of-type(1) img {
    width: 50%;
  }
  .de_bg:nth-of-type(2) img {
    width: 60%;
  }
  .de_bg:nth-of-type(3) img {
    width: 70%;
  }
  .de_bg:nth-of-type(4) img {
    width: 80%;
  }
  .de_bg:nth-of-type(5) img {
    width: 100%;
  }

  /*con3 on효과*/
  .con3.on .de_bg img {
    visibility: visible;
    transition: visibility 2s;
  }
  .con3.on .de_bg:nth-of-type(1) img {
    transition-delay: 0.5s;
  }
  .con3.on .de_bg:nth-of-type(2) img {
    transition-delay: 0.8s;
  }
  .con3.on .de_bg:nth-of-type(3) img {
    transition-delay: 1.1s;
  }
  .con3.on .de_bg:nth-of-type(4) img {
    transition-delay: 1.4s;
  }
  .con3.on .de_bg:nth-of-type(5) img {
    transition-delay: 1.7s;
  }
  .con3.on .de_bg:nth-of-type(6) img {
    transition-delay: 2s;
  }
  .de_bg.active {
    transition: left 0.5s, top 0.5s;
  }
  .de_bg:nth-of-type(1).active {
    left: 94%;
    top: 58%;
  }
  .de_bg:nth-of-type(2).active {
    left: 76%;
    top: 40%;
  }
  .de_bg:nth-of-type(3).active {
    left: 28%;
    top: 76%;
  }
  .de_bg:nth-of-type(4).active {
    left: 10%;
    top: 38%;
  }
  /*on효과*/
  .con3.on h2:nth-of-type(1) {
    transition: 3s;
    left: 50%;
  }
  .con3.on h2:nth-of-type(2) {
    transition: 3s;
    left: 50%;
  }

  .con3_inner .de_modal.on {
    display: block;
    z-index: 120;
  }

  .con3_inner .de_bg img:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .swiper-pagination {
    display: none;
  }
  .con3_inner .de_modal {
    height: 904px;
  }
  .con3_inner .modal_wrap {
    width: 70%;
    height: 70%;
  }
  .con3_inner .de_modal #arrows {
    width: 100vw;
    justify-content: space-between;
  }
  .con3_inner .de_modal #arrows span {
    width: 8%;
    margin: 0;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
  }
  .con3_inner .mo_text img {
    width: 35%;
  }
  /*con4*/
  .con4 {
    background-color: #f8f8f4;
  }
  .con4_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9.64vw auto 3.39vw 3vw;
  }
  .con4_inner span {
    display: inline-block;
  }
  .con4_inner .enter {
    width: 3.49vw;
    height: 3.85vw;
    display: inline-block;
    background: url("img/ico_enter.svg") no-repeat center / cover;
  }
  .con4_inner h2 {
    font-size: 7.81vw;
    line-height: 7.24vw;
    opacity: 0;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg);
    transition-delay: 0.5s !important;
  }
  .con4_inner h2:nth-child(1) p {
    font-size: 8.18vw;
  }
  .con4_inner h2:nth-child(2) p {
    width: 6.38vw;
    height: 6.59vw;
  }
  .con4_inner .cir_wrap {
    transform: translateY(0.2em) !important;
    opacity: 1 !important;
    transition: 0s !important;
  }
  .con4_inner .con4_wrap p {
    width: 6.38vw;
    height: 6.59vw;
    font-family: "Noto Sans KR", sans-serif;
    display: inline-block;
    transform: translateY(0.8vw);
  }
  .con4_inner .ro_cir {
    display: block;
    width: 6.38vw;
    border-radius: 50%;
    height: 6.59vw;
    background-size: 100% 100%;
    position: absolute;
    background: url(img/ico_typo_O.png) no-repeat center / cover;
  }
  .con4_inner .ro_cir:nth-of-type(1) {
    animation: ro_cir_1 3s linear infinite;
    transform: translate(0vw, 0vw);
  }
  /*con4_동그라미_움직임_애니메이션*/
  @keyframes ro_cir_1 {
    0% {
      transform: translate(0vw, 0vw);
    }

    50% {
      transform: translate(-0.52vw, -0.52vw);
    }

    90% {
      transform: translate(0vw, 0vw);
    }
  }
  .con4_inner .ro_cir:nth-of-type(3) {
    animation: ro_cir_3 3s linear infinite;
    transform: translate(0vw, 0vw);
  }
  @keyframes ro_cir_3 {
    0% {
      transform: translate(0vw, 0vw);
    }

    50% {
      transform: translate(0.52vw, 0.52vw);
    }
    90% {
      transform: translate(0vw, 0vw);
    }
  }

  .con4_inner .info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9.64vw auto 3.39vw 3vw;
  }
  .con4_inner p {
    display: flex;
    align-items: center;
    transform: translateY(20%);
    opacity: 0;
  }
  .con4_inner p span {
    display: inline-block;
  }
  .con4_inner .info a {
    color: #111;
    display: flex;
    align-items: center;
  }
  .con4_inner .info img {
    width: 5%;
    display: inline-block;
    margin-right: 2em;
  }
  .con4 .info_right p:nth-of-type(1) {
    margin: 1rem 0rem;
  }

  /*.con4 on 효과*/
  .con4.on h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 1s;
  }
  .con4.on .con4_inner p {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
    transition-delay: 2s;
  }
  .con4.on .con4_inner p:nth-of-type(1) {
    transition-delay: 2s;
  }
  .con4.on .con4_inner p:nth-of-type(2) {
    transition-delay: 2.5s;
  }
  .con4.on .con4_inner p:nth-of-type(3) {
    transition-delay: 3s;
  }
}
/*******************************************/
@media (max-width: 1512px) and (min-width: 1024px) {
  #wrap {
    width: 100vw;
  }
  #header .inner {
    width: 100vw;
    padding: 4.1em 2em 0;
    margin: 0px auto;
    text-align: center;
  }
  .header_wrap {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
  }
  .header_wrap > div:nth-of-type(1) {
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  #header .navi {
    top: 1.6%;
    left: 40%;
  }
  .navi a {
    min-width: 8rem;
    padding: 0.65rem 1rem;
  }
  /*visual*/
  #visual {
    height: auto;
  }
  #visual h2 {
    transform: translateX(3vw) translateY(13vh);
    font-size: 6vw;
  }
  #visual .logo_ {
    transform: translate(3rem, 2rem);
  }
  #visual .circle .char {
    transform: rotateY(calc(var(--char-index) * 11.5deg)) translateZ(260px);
  }
  /*con1*/
  .con1 {
    height: auto;
  }
  .con1_inner h2 {
    font-size: 6vw;
  }
  .con1_inner .profile_left img {
    width: 86%;
    transform: rotate(0deg) translateY(3%);
    transform-origin: center bottom;
    animation: move 6s linear infinite;
  }
  @keyframes move {
    0% {
      transform: rotate(0deg) translateY(3%);
    }
    25% {
      transform: rotate(-3deg) translateY(3%);
    }
    50% {
      transform: rotate(0deg) translateY(3%);
    }
    75% {
      transform: rotate(3deg) translateY(3%);
    }
    100% {
      transform: rotate(0deg) translateY(3%);
    }
  }
  .con1_inner .profile_right {
    margin: -7rem auto 0;
  }
  .con1_inner .skills {
    width: 36vw;
  }
  .con1_inner .profile p {
    font-size: 0.9rem;
  }
  /*con2*/
  .con2 {
    height: auto;
  }
  .con2_inner h2 {
    font-size: 6vw;
  }
  .con2_inner {
    height: 100%;
  }
  .con2_inner .work {
    height: auto;
  }
  .con2_inner .works {
    height: 100%;
    padding: 0;
  }
  .con2.on .work_1 {
    transform: translateY(5%);
  }
  .con2.on .work_2 {
    transform: translateY(-5%);
  }
  .con2.on .work_3 {
    transform: translateY(-15%);
  }
  .con2_inner .work:before {
    margin: 0vh auto 1vh;
  }
  .con2_inner .works p {
    width: 80%;
  }
  .con2_inner .work_btn span {
    width: 5rem;
    font-size: 0.8rem;
    margin: 0.8rem;
  }
  /*con3*/
  .con3 {
    max-height: 897px;
    height: 897px;
  }
  .con3_inner {
    padding: 8vh 0 7vh;
  }
  .con3_inner h2 {
    font-size: 6vw;
  }
  .design_wrap {
    height: 85%;
  }
  .con3_inner .de_bg {
    width: 14rem;
  }
  .con3_inner h2:nth-of-type(2) {
    bottom: 2%;
  }
  .con3_inner .de_modal {
    height: 1024px;
  }
  .con3_inner .modal_wrap {
    width: 70%;
    height: 70%;
  }
  .con3_inner .de_modal #arrows {
    width: 100vw;
    justify-content: space-between;
  }
  .con3_inner .de_modal #arrows span {
    width: 8%;
    margin: 0;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
  }
  .con3_inner .mo_text img {
    width: 35%;
  }
  /*con4*/
  .con4 {
    height: auto;
    min-height: 80vh;
  }
  .con4_inner {
    padding: 8vh 0 7vh;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  #header .inner {
    padding: 2rem;
  }
  #visual,
  .con {
    height: auto;
  }
  .con .inner {
    padding: 7vh 0;
  }
  #header .navi {
    display: flex;
    top: 1.6%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.4rem;
  }
  #header .header_wrap {
    margin: 0px auto 0px;
  }
  .bars {
    display: block;
  }
  #header .barr {
    display: none;
  }
  .navi_bar {
    display: none;
  }
  .navi_bar div {
    width: 1vw;
    height: 1vw;
    margin: 2vw;
  }
  #visual h2 {
    font-size: 7.5vw;
    transform: translateX(3vw) translateY(13vh);
  }
  #visual .logo_ {
    transform: translate(-6rem, 5rem);
  }
  #visual .circle .char {
    transform: rotateY(calc(var(--char-index) * 11.5deg)) translateZ(260px);
  }
  /*con1*/
  .con1_inner .skills {
    width: 33vw;
  }
  .con1_inner .profile_right {
    width: calc(100% / 2);
    margin: -6em auto 0;
  }
  /*con2*/
  .con2_inner.on .work_1 {
    transform: translateY(30%);
  }
  .con2.on .work_2 {
    transform: translateY(0%);
  }
  .con2.on .work_3 {
    transform: translateY(-30%);
  }
  .con2_inner .work {
    height: auto;
  }
  .con2_inner .work:before {
    margin: 0vh auto 3vh;
  }
  .con2_inner .work_p {
    padding: 1vh 0;
  }
  .con2_inner .work_btn span {
    font-size: 1.1vw;
    margin: 1vw;
  }
  /*con3*/
  .con3 {
    height: 100vh;
    position: relative;
  }
  .con3_inner .de_bg {
    width: 20rem;
  }
  .de_bg:nth-of-type(4).active {
    left: 14%;
  }
  /*con4*/
  .con4 h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 0s;
    font-size: 12vw;
    line-height: 13vw;
  }
  .con4_inner .enter {
    width: 6vw;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition-delay: 0s !important;
  }
  .con4 .con4_inner p {
    transform: translateX(-2.2vw) translateY(2.2vw);
    opacity: 1;
    transition: 0s;
    transition-delay: 0s;
  }
  .con4_inner h2:nth-child(2) p {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .ro_cir {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .info {
    display: block;
  }
}
/*****************************************************/
@media (max-width: 767px) and (min-width: 481px) {
  #visual,
  .con {
    height: auto;
  }
  .con .inner {
    padding: 7vh 0;
  }
  /*header*/
  #header .inner {
    padding: 2rem;
  }
  #header .header_wrap {
    margin: 0px auto;
  }
  #header .navi_bar {
    display: none;
  }
  .barr {
    transform: translateY(0.6rem);
  }
  #header .navi {
    display: none;
    top: 1.6%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.4rem;
  }
  #header .navi p {
    display: flex;
    font-size: 0.9em;
    min-width: 10rem;
    margin-top: 0;
  }
  #header .navi p a {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  #header .bars {
    display: block;
  }
  #header .barr {
    display: block;
  }
  /*visual*/
  #visual h2 {
    font-size: 10vw;
    transform: translateX(3vw) translateY(6vh);
  }
  #visual .logo_ {
    transform: translate(-7rem, 2rem);
  }
  #visual .logo_ .p {
    -webkit-text-stroke-width: 0.5vw;
    font-size: 16em;
  }
  #visual .circle .char {
    transform: rotateY(calc(var(--char-index) * 11.5deg)) translateZ(300px);
  }

  /*con1*/
  .profile_left {
    text-align: center;
  }
  .con1_inner .profile_left img {
    width: 84%;
    transform: rotate(0deg) translateY(0%);
    transform-origin: center bottom;
    animation: move 6s linear infinite;
  }
  @keyframes move {
    0% {
      transform: rotate(0deg) translateY(0%);
    }
    25% {
      transform: rotate(-3deg) translateY(0%);
    }
    50% {
      transform: rotate(0deg) translateY(0%);
    }
    75% {
      transform: rotate(3deg) translateY(0%);
    }
    100% {
      transform: rotate(0deg) translateY(0%);
    }
  }
  .con1 .inner h2 {
    font-size: 8vw;
    margin-left: 0.6rem;
  }
  .con1 .inner h2 br {
    display: none;
  }
  .con1 .inner h2 span {
    margin-left: 1rem;
  }
  .con1 p {
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .con1_inner .skills {
    width: 40vw;
  }
  .con1_inner .profile {
    width: 100%;
    height: auto;
    align-items: center;
    gap: 1rem;
  }
  .con1_inner .profile .profile_left {
    width: calc(100% / 2.2);
  }
  .con1_inner .profile_right {
    width: calc(100% / 2);
    margin: 1rem auto;
  }
  /*con2*/
  .con2 .inner h2 {
    font-size: 8vw;
  }
  .con2 .inner h2 br {
    display: none;
  }
  .con2 .inner h2 span {
    margin-left: 1rem;
  }
  .con2_inner .work:before {
    margin: 0vh auto 1vh;
    width: 85%;
  }
  .con2_inner .works img {
    width: 90%;
  }
  .con2_inner .work_1 {
    transform: translateY(120%);
  }
  .con2_inner .work_2 {
    transform: translateY(-60%);
  }
  .con2_inner .work_3 {
    transform: translateY(-140%);
  }
  .con2.on .work_1 {
    transform: translateY(35%);
  }
  .con2.on .work_2 {
    transform: translateY(20%);
  }
  .con2.on .work_3 {
    transform: translateY(-5%);
  }
  .con2_inner .work {
    height: auto;
  }
  .con2_inner .work:before {
    margin: 0vh auto 3vh;
  }
  .con2_inner .work_p {
    padding: 1vh 0;
  }
  .con2_inner .works p {
    width: 90%;
    font-size: 0.8rem;
  }
  .con2_inner .work_btn span {
    width: 10vw;
    font-size: 0.7rem;
    margin: 1vw;
  }
  /*con3*/
  .con3 {
    height: 70vh !important;
  }
  .con3_inner {
    padding: 3rem 0 !important ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .con3_inner h2 {
    font-size: 8vw;
  }
  .con3_inner .de_bg {
    width: 100%;
    max-width: 180px;
    height: 255px;
    position: static;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .design_wrap {
    width: 190%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .design {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .con3_inner .de_bg img {
    width: 100%;
    object-fit: cover;
  }
  .con3_inner h2:nth-of-type(1) {
    top: 13%;
  }
  .con3_inner h2:nth-of-type(2) {
    bottom: 0%;
  }
  .swiper-pagination {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    bottom: 23% !important;
  }

  /*con4*/
  .con4 h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 0s;
    font-size: 12vw;
    line-height: 13vw;
  }
  .con4_inner .enter {
    width: 6vw;
  }
  .con4_inner {
    padding: 3rem 0 !important ;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition-delay: 0s !important;
  }
  .con4 .con4_inner p {
    transform: translateX(-2.2vw) translateY(2.2vw);
    opacity: 1;
    transition: 0s;
    transition-delay: 0s;
  }
  .con4_inner h2:nth-child(2) p {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .ro_cir {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .info {
    display: block;
  }
}

/****************mobile*********************/
@media all and (max-width: 480px) {
  .inner h2 {
    font-size: 9.5vw;
  }
  .visual,
  .con {
    height: auto !important;
  }
  /*header*/
  #header .inner {
    padding: 2.1em 2em 0;
  }
  #header .barr {
    display: none;
  }
  #header .navi {
    display: none;
  }
  #header .navi_bar {
    display: none;
  }
  .bars {
    display: block;
    width: 1.5em;
    height: 0.8em;
  }
  #header .navi_bar {
    display: none;
  }
  #header .side_menu {
    width: 100%;
  }
  .side_menu .menu span {
    display: inline-block;
    font-size: 4vw;
  }
  .side_menu .menu p {
    font-size: 12vw;
  }

  /*visual*/
  #visual h2 {
    font-size: 10vw;
    transform: translateX(3vw) translateY(6vh);
  }
  #visual .logo_ {
    transform: translate(-7rem, 2rem);
  }
  #visual .logo_ .p {
    -webkit-text-stroke-width: 0.5vw;
    font-size: 16em;
  }

  #visual .logo_ .p {
    transform: translateX(0.4em) translateY(-0.1em);
  }
  #visual .circle .char {
    transform: rotateY(calc(var(--char-index) * 11.5deg)) translateY(-1em)
      translateZ(180px);
  }
  /*con1*/
  .con1 .inner h2 {
    font-size: 12vw;
    margin-left: 0.6rem;
  }
  .con1 .inner h2 br {
    display: none;
  }
  .con1 .inner h2 span {
    margin-left: 1rem;
  }
  .con1 p {
    font-size: 1.8vw;
    white-space: nowrap;
  }
  .con1_inner .skills {
    width: 40vw;
  }
  .con1_inner .profile {
    width: 100%;
    height: auto;
    align-items: center;
    gap: 1rem;
  }
  .con1_inner .profile .profile_left {
    width: calc(100% / 2.2);
  }
  .con1_inner .profile_right {
    width: calc(100% / 2);
    margin: 0.5rem auto;
  }
  /*con2*/
  .con2 .inner h2 {
    font-size: 12.5vw;
  }
  .con2 .inner h2 br {
    display: none;
  }
  .con2 .inner h2 span {
    margin-left: 1rem;
  }
  .con2_inner .works {
    display: block;
  }
  .con2_inner .work:before {
    width: 90%;
    margin: 3vh auto;
  }
  .con2_inner .works img {
    width: 75%;
  }
  .con2_inner .work_1 {
    transform: translateX(-100%) translateY(0%);
  }
  .con2_inner .work_2 {
    transform: translateX(100%) translateY(0%);
  }
  .con2_inner .work_3 {
    transform: translateX(-100%) translateY(0%);
  }
  .con2.on .work {
    height: auto;
  }
  .con2.on .work_1 {
    transform: translateX(0%) translateY(0%);
  }
  .con2.on .work_2 {
    transform: translateX(0%) translateY(0%);
  }
  .con2.on .work_3 {
    transform: translateX(0%) translateY(0%);
  }
  .con2_inner .work_btn span {
    margin: 1em 1em;
    font-size: 2.5vw;
  }
  .con2_inner .mouse {
    display: none;
  }
  /*con3*/
  .con3 {
    height: 70vh !important;
  }
  .con3_inner {
    padding: 3rem 0 !important ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .con3_inner h2 {
    font-size: 12vw;
  }
  .con3_inner .de_bg {
    width: 100%;
    min-width: 180px;
    position: static;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .design_wrap {
    width: 190%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .design {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .con3_inner .de_bg {
    width: 100%;
  }
  .con3_inner .de_bg img {
    width: 100%;
    object-fit: cover;
  }
  .con3_inner h2:nth-of-type(1) {
    top: 13%;
  }
  .con3_inner h2:nth-of-type(2) {
    bottom: 3%;
  }
  .swiper-pagination {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    bottom: 23% !important;
  }
  .con3_inner .modal_wrap {
    width: 70%;
    height: 60%;
  }
  .con3_inner .de_modal #arrows {
    width: 100vw;
    justify-content: space-between;
  }
  .con3_inner .de_modal #arrows span {
    width: 8%;
    margin: 0;
  }
  .con3_inner .div_wrap {
    top: 50%;
    transform: translateY(-50%);
  }
  .con3_inner .div_wrap .mo_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con3_inner .mo_text > p {
    margin-bottom: 1rem;
  }
  .con3_inner .mo_text img {
    width: 35%;
  }
  /*con4*/
  .con4 h2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
    transition: 0s;
    font-size: 12vw;
    line-height: 13vw;
  }
  .con4_inner .enter {
    width: 6vw;
  }
  .con4_inner {
    padding: 3rem 0 !important ;
  }
  .con4_inner h2:nth-of-type(1) {
    font-family: "Silk-Serif";
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .con4_inner h2:nth-of-type(2) {
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition-delay: 0s !important;
  }
  .con4 .con4_inner p {
    transform: translateX(-2.2vw) translateY(2.2vw);
    opacity: 1;
    transition: 0s;
    transition-delay: 0s;
  }
  .con4_inner h2:nth-child(2) p {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .ro_cir {
    width: 10.38vw;
    height: 10.38vw;
  }
  .con4_inner .info {
    display: block;
  }
}
